[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cABCanalysis"]
	path = cABCanalysis
	url = https://github.com/andrehdev/cabc_analysis
